In [1]:
import polars as pl
import pandas as pd
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
usd_jpy_rate = pd.read_csv('../../data/usd_jpy_rate.csv')
usd_jpy_rate['Date'] = pd.to_datetime(usd_jpy_rate['Date'])
usd_jpy_rate = usd_jpy_rate.set_index('Date')
usd_jpy_rate = usd_jpy_rate.dropna()
usd_jpy_rate

            usd_jpy_rate
Date
1973-01-04        301.10
1973-01-05        301.15
1973-01-08        302.25
1973-01-09        302.40
1973-01-10        301.55
...                  ...
2025-01-06        157.67
2025-01-07        157.50
2025-01-08        158.12
2025-01-09        158.19
2025-01-10        158.39

[12815 rows x 1 columns]

In [27]:
ticker = '^N225'
nikkei_from_yahoo = yf.download(ticker, start='2024-05-01', end='2025-01-14')['Close']
nikkei_from_yahoo

[*********************100%***********************]  1 of 1 completed

Ticker             ^N225
Date
2024-05-01  38274.050781
2024-05-02  38236.070312
2024-05-07  38835.101562
2024-05-08  38202.371094
2024-05-09  38073.980469
...                  ...
2025-01-06  39307.050781
2025-01-07  40083.300781
2025-01-08  39981.058594
2025-01-09  39605.089844
2025-01-10  39190.398438

[171 rows x 1 columns]

In [28]:
nikkei = pd.concat([nikkei_from_keio, nikkei_from_yahoo], axis=1)

In [29]:
nikkei_sum = nikkei.sum(axis=1)
nikkei_sum

Date
1985-01-04    11558.060000
1985-01-05    11545.160000
1985-01-07    11575.520000
1985-01-08    11679.790000
1985-01-09    11763.570000
                  ...
2025-01-06    39307.050781
2025-01-07    40083.300781
2025-01-08    39981.058594
2025-01-09    39605.089844
2025-01-10    39190.398438
Length: 9959, dtype: float64

In [30]:
nikkei = pl.DataFrame({
    'Date': nikkei.index,
    'Nikkei': nikkei_sum
})

In [32]:
nikkei.write_csv('../../data/nikkei_from19850104.csv')